In [1]:
from numpy import loadtxt
from keras.models import Sequential
from keras.layers import Dense, Dropout, Activation
import pandas as pd
from sklearn.model_selection import train_test_split
import random
import keras

Using TensorFlow backend.

In [5]:
pwd

'/Users/kamranelchuzade/Desktop/racing-game-ai/notebooks'

In [2]:
df = pd.read_csv('file20000.csv')
df.head()

   Unnamed: 0  0  1  2  3  4
0           0  1  6  6  6  0
1           1  0  6  6  6  1
2           2  0  5  6  6  2
3           3  1  4  6  6  1
4           4  1  3  6  5  1

In [3]:
df = df.drop('Unnamed: 0', 1)

In [4]:
df.describe()

                  0             1             2             3             4
count  10000.000000  10000.000000  10000.000000  10000.000000  10000.000000
mean       0.963500      3.084700      3.229200      3.184200      1.000100
std        0.790968      2.288722      2.307466      2.297302      0.416314
min        0.000000      0.000000      0.000000      0.000000      0.000000
25%        0.000000      1.000000      1.000000      1.000000      1.000000
50%        1.000000      3.000000      3.000000      3.000000      1.000000
75%        2.000000      6.000000      6.000000      6.000000      1.000000
max        2.000000      6.000000      6.000000      6.000000      2.000000

In [5]:
# Action ( Left: 0, Stay: 1, Right: 2 )
df.rename(columns={'0': 'MyPosition', '1': 'leftLine', '2': 'MidLine', '3': 'RightLine', '4': 'Action'}, inplace=True)
df.head()

   MyPosition  leftLine  MidLine  RightLine  Action
0           1         6        6          6       0
1           0         6        6          6       1
2           0         5        6          6       2
3           1         4        6          6       1
4           1         3        6          5       1

In [11]:
df.Action.value_counts()

2.0    867
0.0    866
1.0    816
Name: Action, dtype: int64

In [9]:
for i in range(len(df['Action'])):
    if df['Action'][i] == 1:
        a = random.randint(0,9)
        if a > 0:
            df['Action'][i] = None

In [10]:
df.head()

   MyPosition  leftLine  MidLine  RightLine  Action
0           1         6        6          6     0.0
1           0         6        6          6     1.0
2           0         5        6          6     2.0
3           1         4        6          6     NaN
4           1         3        6          5     NaN

In [12]:
newDF = df.dropna()

In [ ]:
# newDF['Action'] = newDF['Action'].astype(int)

In [13]:
df.Action.value_counts()

2.0    867
0.0    866
1.0    816
Name: Action, dtype: int64

In [14]:
inputData = newDF.drop('Action',1)
inputData.head()

    MyPosition  leftLine  MidLine  RightLine
0            1         6        6          6
1            0         6        6          6
2            0         5        6          6
8            1         6        6          1
13           0         6        6          0

In [15]:
outputData = newDF['Action']

In [16]:
X_train, X_test, y_train, y_test = train_test_split(inputData, outputData, test_size=0.20, random_state=4)

In [17]:
y_train = keras.utils.to_categorical(y_train, 3)

In [18]:
y_test = keras.utils.to_categorical(y_test, 3)

In [19]:
# define the keras model
model = Sequential()
model.add(Dense(16, input_shape=(4, )))
model.add(Activation('relu'))
model.add(Dropout(0.5))
model.add(Dense(3))
model.add(Activation('softmax'))

WARNING:tensorflow:From /opt/anaconda3/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:74: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From /opt/anaconda3/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:517: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From /opt/anaconda3/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:4138: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

WARNING:tensorflow:From /opt/anaconda3/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:133: The name tf.placeholder_with_default is deprecated. Please use tf.compat.v1.placeholder_with_default instead.

WARNING:tensorflow:From /opt/anaconda3/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:3445: calling dropout (from tensorflow.python.ops.nn_ops) with keep_prob is deprecated and will be removed in a future version.
Instructions for updating:
Please use `rate` instead of `keep_prob`. Rate should be set to `rate = 1 - keep_prob`.

In [20]:
model.compile(
            optimizer='adam',
            loss='categorical_crossentropy',
            metrics=['accuracy'])

WARNING:tensorflow:From /opt/anaconda3/lib/python3.7/site-packages/keras/optimizers.py:790: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

WARNING:tensorflow:From /opt/anaconda3/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:3295: The name tf.log is deprecated. Please use tf.math.log instead.

In [21]:
# fit the keras model on the dataset
model.fit(X_train, y_train, epochs=100, batch_size=10)

WARNING:tensorflow:From /opt/anaconda3/lib/python3.7/site-packages/tensorflow_core/python/ops/math_grad.py:1424: where (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
WARNING:tensorflow:From /opt/anaconda3/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:986: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

WARNING:tensorflow:From /opt/anaconda3/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:973: The name tf.assign is deprecated. Please use tf.compat.v1.assign instead.

WARNING:tensorflow:From /opt/anaconda3/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:2741: The name tf.Session is deprecated. Please use tf.compat.v1.Session instead.

Epoch 1/100
WARNING:tensorflow:From /opt/anaconda3/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:174: The name tf.get_default_session is deprecated. Please use tf.compat.v1.get_default_session instead.

WARNING:tensorflow:From /opt/anaconda3/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:181: The name tf.ConfigProto is deprecated. Please use tf.compat.v1.ConfigProto instead.

WARNING:tensorflow:From /opt/anaconda3/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:190: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

WARNING:tensorflow:From /opt/anaconda3/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:199: The name tf.is_variable_initialized is deprecated. Please use tf.compat.v1.is_variable_initialized instead.

WARNING:tensorflow:From /opt/anaconda3/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:206: The name tf.variables_initializer is deprecated. Please use tf.compat.v1.variables_initializer instead.

2039/2039 [==============================] - 3s 1ms/step - loss: 1.7027 - acc: 0.3953
Epoch 2/100
2039/2039 [==============================] - 1s 328us/step - loss: 1.0448 - acc: 0.5282
Epoch 3/100
2039/2039 [==============================] - 1s 507us/step - loss: 0.8552 - acc: 0.5964
Epoch 4/100
2039/2039 [==============================] - 1s 481us/step - loss: 0.7494 - acc: 0.6699
Epoch 5/100
2039/2039 [==============================] - 1s 480us/step - loss: 0.6966 - acc: 0.6846
Epoch 6/100
2039/2039 [==============================] - 1s 346us/step - loss: 0.6562 - acc: 0.7273
Epoch 7/100
2039/2039 [==============================] - 1s 342us/step - loss: 0.6130 - acc: 0.7563
Epoch 8/100
2039/2039 [==============================] - 1s 299us/step - loss: 0.5916 - acc: 0.7592
Epoch 9/100
2039/2039 [==============================] - 1s 282us/step - loss: 0.5538 - acc: 0.7783
Epoch 10/100
2039/2039 [==============================] - 1s 284us/step - loss: 0.5297 - acc: 0.7837
Epoch 11/100
2039/2039 [==============================] - 1s 326us/step - loss: 0.5104 - acc: 0.7832
Epoch 12/100
2039/2039 [==============================] - 1s 321us/step - loss: 0.4887 - acc: 0.8038
Epoch 13/100
2039/2039 [==============================] - 1s 296us/step - loss: 0.4813 - acc: 0.8205
Epoch 14/100
2039/2039 [==============================] - 1s 294us/step - loss: 0.4430 - acc: 0.8274
Epoch 15/100
2039/2039 [==============================] - 1s 319us/step - loss: 0.4192 - acc: 0.8401
Epoch 16/100
2039/2039 [==============================] - 1s 283us/step - loss: 0.4336 - acc: 0.8288
Epoch 17/100
2039/2039 [==============================] - 1s 291us/step - loss: 0.3853 - acc: 0.8583
Epoch 18/100
2039/2039 [==============================] - 1s 294us/step - loss: 0.3926 - acc: 0.8548
Epoch 19/100
2039/2039 [==============================] - 1s 287us/step - loss: 0.3658 - acc: 0.8656
Epoch 20/100
2039/2039 [==============================] - 1s 291us/step - loss: 0.3683 - acc: 0.8691
Epoch 21/100
2039/2039 [==============================] - 1s 290us/step - loss: 0.3575 - acc: 0.8725
Epoch 22/100
2039/2039 [==============================] - 1s 290us/step - loss: 0.3576 - acc: 0.8651
Epoch 23/100
2039/2039 [==============================] - 1s 292us/step - loss: 0.3362 - acc: 0.8789
Epoch 24/100
2039/2039 [==============================] - 1s 290us/step - loss: 0.3300 - acc: 0.8789
Epoch 25/100
2039/2039 [==============================] - 1s 291us/step - loss: 0.3168 - acc: 0.8789
Epoch 26/100
2039/2039 [==============================] - 1s 292us/step - loss: 0.3254 - acc: 0.8769
Epoch 27/100
2039/2039 [==============================] - 1s 295us/step - loss: 0.3027 - acc: 0.8803
Epoch 28/100
2039/2039 [==============================] - 1s 293us/step - loss: 0.3156 - acc: 0.8759
Epoch 29/100
2039/2039 [==============================] - 1s 291us/step - loss: 0.3043 - acc: 0.8901
Epoch 30/100
2039/2039 [==============================] - 1s 304us/step - loss: 0.2946 - acc: 0.8901
Epoch 31/100
2039/2039 [==============================] - 1s 291us/step - loss: 0.2807 - acc: 0.8960
Epoch 32/100
2039/2039 [==============================] - 1s 296us/step - loss: 0.2913 - acc: 0.8862
Epoch 33/100
2039/2039 [==============================] - 1s 295us/step - loss: 0.2768 - acc: 0.8941
Epoch 34/100
2039/2039 [==============================] - 1s 300us/step - loss: 0.2688 - acc: 0.8995
Epoch 35/100
2039/2039 [==============================] - 1s 296us/step - loss: 0.2698 - acc: 0.9078
Epoch 36/100
2039/2039 [==============================] - 1s 300us/step - loss: 0.2600 - acc: 0.9103
Epoch 37/100
2039/2039 [==============================] - 1s 301us/step - loss: 0.2579 - acc: 0.9073
Epoch 38/100
2039/2039 [==============================] - 1s 301us/step - loss: 0.2593 - acc: 0.9063
Epoch 39/100
2039/2039 [==============================] - 1s 306us/step - loss: 0.2535 - acc: 0.9083
Epoch 40/100
2039/2039 [==============================] - 1s 309us/step - loss: 0.2402 - acc: 0.9127
Epoch 41/100
2039/2039 [==============================] - 1s 308us/step - loss: 0.2271 - acc: 0.9205
Epoch 42/100
2039/2039 [==============================] - 1s 310us/step - loss: 0.2439 - acc: 0.9152
Epoch 43/100
2039/2039 [==============================] - 1s 312us/step - loss: 0.2140 - acc: 0.9279
Epoch 44/100
2039/2039 [==============================] - 1s 312us/step - loss: 0.2244 - acc: 0.9161
Epoch 45/100
2039/2039 [==============================] - 1s 323us/step - loss: 0.2070 - acc: 0.9313
Epoch 46/100
2039/2039 [==============================] - 1s 315us/step - loss: 0.2206 - acc: 0.9201
Epoch 47/100
2039/2039 [==============================] - 1s 323us/step - loss: 0.2071 - acc: 0.9299
Epoch 48/100
2039/2039 [==============================] - 1s 318us/step - loss: 0.2083 - acc: 0.9289
Epoch 49/100
2039/2039 [==============================] - 1s 323us/step - loss: 0.2082 - acc: 0.9274
Epoch 50/100
2039/2039 [==============================] - 1s 325us/step - loss: 0.2236 - acc: 0.9255
Epoch 51/100
2039/2039 [==============================] - 1s 330us/step - loss: 0.2124 - acc: 0.9279
Epoch 52/100
2039/2039 [==============================] - 1s 328us/step - loss: 0.1915 - acc: 0.9338
Epoch 53/100
2039/2039 [==============================] - 1s 329us/step - loss: 0.1859 - acc: 0.9392
Epoch 54/100
2039/2039 [==============================] - 1s 328us/step - loss: 0.1998 - acc: 0.9318
Epoch 55/100
2039/2039 [==============================] - 1s 328us/step - loss: 0.1951 - acc: 0.9348
Epoch 56/100
2039/2039 [==============================] - 1s 330us/step - loss: 0.2115 - acc: 0.9245
Epoch 57/100
2039/2039 [==============================] - 1s 332us/step - loss: 0.1849 - acc: 0.9387
Epoch 58/100
2039/2039 [==============================] - 1s 332us/step - loss: 0.1942 - acc: 0.9348
Epoch 59/100
2039/2039 [==============================] - 1s 341us/step - loss: 0.1902 - acc: 0.9328
Epoch 60/100
2039/2039 [==============================] - 1s 338us/step - loss: 0.1915 - acc: 0.9343
Epoch 61/100
2039/2039 [==============================] - 1s 336us/step - loss: 0.2060 - acc: 0.9279
Epoch 62/100
2039/2039 [==============================] - 1s 340us/step - loss: 0.1868 - acc: 0.9308
Epoch 63/100
2039/2039 [==============================] - 1s 332us/step - loss: 0.1936 - acc: 0.9353
Epoch 64/100
2039/2039 [==============================] - 1s 354us/step - loss: 0.1929 - acc: 0.9407
Epoch 65/100
2039/2039 [==============================] - 1s 339us/step - loss: 0.1809 - acc: 0.9441 0s - loss: 0.1808 - acc: 0.94
Epoch 66/100
2039/2039 [==============================] - 1s 342us/step - loss: 0.1849 - acc: 0.9387
Epoch 67/100
2039/2039 [==============================] - 1s 360us/step - loss: 0.1956 - acc: 0.9348
Epoch 68/100
2039/2039 [==============================] - 1s 329us/step - loss: 0.1699 - acc: 0.9456
Epoch 69/100
2039/2039 [==============================] - 1s 326us/step - loss: 0.1744 - acc: 0.9407
Epoch 70/100
2039/2039 [==============================] - 1s 332us/step - loss: 0.1909 - acc: 0.9362
Epoch 71/100
2039/2039 [==============================] - 1s 333us/step - loss: 0.1834 - acc: 0.9431
Epoch 72/100
2039/2039 [==============================] - 1s 329us/step - loss: 0.1783 - acc: 0.9353
Epoch 73/100
2039/2039 [==============================] - 1s 339us/step - loss: 0.1673 - acc: 0.9436
Epoch 74/100
2039/2039 [==============================] - 1s 333us/step - loss: 0.1939 - acc: 0.9372
Epoch 75/100
2039/2039 [==============================] - 1s 340us/step - loss: 0.1821 - acc: 0.9387
Epoch 76/100
2039/2039 [==============================] - 1s 352us/step - loss: 0.1688 - acc: 0.9446
Epoch 77/100
2039/2039 [==============================] - 1s 388us/step - loss: 0.1673 - acc: 0.9485
Epoch 78/100
2039/2039 [==============================] - 1s 338us/step - loss: 0.1612 - acc: 0.9465
Epoch 79/100
2039/2039 [==============================] - 1s 332us/step - loss: 0.1712 - acc: 0.9416
Epoch 80/100
2039/2039 [==============================] - 1s 343us/step - loss: 0.1624 - acc: 0.9495
Epoch 81/100
2039/2039 [==============================] - 1s 343us/step - loss: 0.1683 - acc: 0.9436
Epoch 82/100
2039/2039 [==============================] - 1s 528us/step - loss: 0.1747 - acc: 0.9446
Epoch 83/100
2039/2039 [==============================] - 1s 519us/step - loss: 0.1621 - acc: 0.9480
Epoch 84/100
2039/2039 [==============================] - 1s 509us/step - loss: 0.1705 - acc: 0.9416
Epoch 85/100
2039/2039 [==============================] - 1s 507us/step - loss: 0.1695 - acc: 0.9470
Epoch 86/100
2039/2039 [==============================] - 1s 530us/step - loss: 0.1627 - acc: 0.9451
Epoch 87/100
2039/2039 [==============================] - 1s 477us/step - loss: 0.1561 - acc: 0.9485
Epoch 88/100
2039/2039 [==============================] - 1s 393us/step - loss: 0.1563 - acc: 0.9490
Epoch 89/100
2039/2039 [==============================] - 1s 375us/step - loss: 0.1621 - acc: 0.9495
Epoch 90/100
2039/2039 [==============================] - 1s 399us/step - loss: 0.1713 - acc: 0.9426
Epoch 91/100
2039/2039 [==============================] - 1s 416us/step - loss: 0.1744 - acc: 0.9411
Epoch 92/100
2039/2039 [==============================] - 1s 407us/step - loss: 0.1722 - acc: 0.9470
Epoch 93/100
2039/2039 [==============================] - 1s 418us/step - loss: 0.1549 - acc: 0.9524
Epoch 94/100
2039/2039 [==============================] - 1s 379us/step - loss: 0.1517 - acc: 0.9505
Epoch 95/100
2039/2039 [==============================] - 1s 373us/step - loss: 0.1533 - acc: 0.9456
Epoch 96/100
2039/2039 [==============================] - 1s 380us/step - loss: 0.1703 - acc: 0.9480
Epoch 97/100
2039/2039 [==============================] - 1s 399us/step - loss: 0.1524 - acc: 0.9490
Epoch 98/100
2039/2039 [==============================] - 1s 392us/step - loss: 0.1654 - acc: 0.9461
Epoch 99/100
2039/2039 [==============================] - 1s 420us/step - loss: 0.1741 - acc: 0.9397
Epoch 100/100
2039/2039 [==============================] - 1s 481us/step - loss: 0.1698 - acc: 0.9446

In [22]:
# evaluate the keras model
_, accuracy = model.evaluate(X_test, y_test)
print('Accuracy: %.2f' % (accuracy*100))

510/510 [==============================] - 0s 488us/step
Accuracy: 100.00

In [24]:
from keras.models import load_model

# Creates a HDF5 file 'my_model.h5'
model.save('my_model.h5')

# Deletes the existing model
del model  

# Returns a compiled model identical to the previous one
model = load_model('my_model.h5')

In [25]:
predictions = model.predict_classes(X_test)
predictions[0:20]

array([0, 1, 1, 0, 2, 1, 0, 0, 1, 0, 0, 1, 1, 0, 2, 0, 1, 2, 0, 2])

In [28]:
X_test

      MyPosition  leftLine  MidLine  RightLine
658            0         1        6          5
1438           2         1        6          3
1142           2         1        6          3
1794           2         1        6          3
1704           0         1        6          5
...          ...       ...      ...        ...
1697           1         0        6          4
1224           2         3        6          1
398            1         1        3          6
1298           1         1        3          6
1213           2         0        2          4

[160 rows x 4 columns]

In [29]:
import numpy as np

In [ ]:
X_test.head()

In [32]:
inputData = np.array([[2,1,6,3]])

In [33]:
model.predict_classes(inputData)

array([0])

In [ ]:
X_test.iloc[0]

In [ ]:
bla = np.array(X_test.iloc[0:])
bla

In [ ]:
model.predict_classes(bla)